<h1>Customer Form</h1>
<div class="row">
  <div class="col-xs-12">
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
          <div class="row">
              <div class="col-xs-12">
                  <button [disabled]="!customerForm.valid" type="submit" class="btn btn-success">Save</button>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <div class="form-group">
                      <label for="customerName">Customer Name</label>
                      <input type="text" id="customerName" class="form-control" formControlName="customerName" minlength="5" maxlength="10">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <div class="form-group">
                      <label for="customerAge">Customer age</label>
                      <input type="number" id="customerAge" class="form-control" formControlName="customerAge" min="15" max="30">
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="customerContact">Customer contact</label>
                    <input type="number" id="customerContact" class="form-control" formControlName="customerContact">
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
              <div class="form-group">
                  <label for="customerEmail">Customer mail</label>
                  <input type="email" id="customerEmail" class="form-control" formControlName="customerEmail">
              </div>
          </div>
      </div>
      </form>
  </div>
</div>
